@model List<AdvertisementListDto>
@{
    Layout = "_Layout";
}

<div class="container my-5 m-height-100vh">
    <div class="accordion" id="accordionExample">
        @for (int i = 0; i < Model?.Count; i++) {
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading-@Model[i].Id">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@Model[i].Id" aria-expanded="@(i==0)" aria-controls="collapse-@Model[i].Id   ">
                        @Model[i].Title
                    </button>
                </h2>
                <div id="collapse-@Model[i].Id" class="accordion-collapse collapse @(i == 0 ? "show" : "")" aria-labelledby="heading-@Model[i].Id" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        @Html.Raw(@Model[i].Description)
                        <div>
                            @if(User.Identity.IsAuthenticated)
                            {
                                <a asp-controller="Advertisement" asp-action="Send" asp-route-advertisementId="@Model[i].Id">Apply</a>
                            }
                            else
                            {
                                <div class="alert alert-light text-center my-2">
                                    You must sign in to apply <a asp-action="SignIn" asp-controller="Account">Sign In</a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>