@model List<ProvidedServiceListDto>
@{
    Layout = "_Layout";
}

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container px-5">
            <h1 class="masthead-heading mb-0">#welcome</h1>
            <a class="btn btn-dark btn-xl px-5 rounded-pill mt-5" href="#scroll">DISCOVER</a>
        </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>

@for (int i = 0; i < Model?.Count; i++)
{
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 @(i%2==0?"order-lg-2":"")">
                    <div class="p-5"><img class="img-fluid img-450" src="@Model[i].ImagePath" alt="..." /></div>
                </div>
                <div class="col-lg-6 @(i%2==0?"order-lg-1":"")">
                    <div class="p-5">
                        <h2 class="display-4">@Model[i].Title</h2>
                        <p>@Model[i].Description</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section css {
    <style>
        .img-450 {
            max-width: 450px;
            max-height: 450px;
        }
    </style>
}